/QuastionReport/Report_LAB2.aux
/QuastionReport/Report_LAB2.log
/QuastionReport/Report_LAB2.synctex.gz
/main.exe
/OutputData/ExpScheme
/OutputData/
/Programms/Code/OutputData/
/Programms/Code/main.exe
/.idea/runConfigurations/Main.xml